.section1{
    height: 700px;
    /* margin-top: -10px; */
    background: white;
    
}

.home_content{
    position: relative;
    z-index: 1;
    width: 40%;
   
    margin-left: 68px;
    padding: 38px;
}
.home_title{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    left: 190px;
    top: 232px;
}
.home_information1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
letter-spacing: -0.01em;

left: 190px;
top: 232px;
color:black;
}

.home_section1image{
    z-index: 0;
   
    position: absolute;
    width: 540.61px;
    height: 462px;
    right: 100px;
    top: 212px; 
}


.btninside{

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
height: 38px;
color:black;
background: #FFC100;
border-radius: 14px;
border: 2px solid  ;
transform: scale(1);
transition: all 0.2s ease-in-out;
}

.btninside:hover
{   cursor: pointer;
    transform: scale(1.3);
}

.home_Intro{
    margin: 43px;
    position:relative;
    top:186px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: url("../../assests/background_img.svg") no-repeat ;
    background-size: 100%;
}
.Intro-1{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    
}

.Intro-item{
    margin: 20px;
    width: 45%;
    justify-content: space-evenly;
}
.Intro-2{
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 59px;
text-align: right;

color: #000000;
}
@media only screen and (max-width: 1155px){
.home_content{
    width: 48%;
    
}
.home_title{
    font-size: 48px;
}
.btninside{
    position: static;
    
}
.home_section1image{
    opacity: 0.4;
}
}
@media only screen and (max-width: 915px){
    .home_Intro{
        padding: 0px;
        margin: 0px;
    }
   .Intro-item{
    width: 100%;
    text-align: center;
    
    margin: 0px;
   }
   .Intro-2{
    background-color: #FFC100;
    width: 100%;
    
   }
    }
    @media only screen and (max-width: 500px){
       
       .Intro-1 .Intro-Content{
       background-color: #FFC100;
       margin: 0px;
       }
      
        }    
@media only screen and (max-width: 1155px){
    .home_content{
        
        text-align: -webkit-center;
        left:0px;
    }
}
@media only screen and (max-width: 700px){
    .home_section1image{
        opacity: 0.4;
        right: 0px;
    } 
}
@media all and (max-width: 566px){
    .home_content{
        text-align: -webkit-center;
        left: 0px;
        margin: 0px;
        width: 75%;
    }
}